<div class="content">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/' + this.Bible.Version.value.Url]">{{this.Bible.Version.value.Title}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{this.BookGroup?.Title}}</li>
      </ol>
    </nav>
    <h1>{{this.BookGroup?.Title}}</h1>
    <div class="row" *ngIf="this.BookGroup">
        <div class="col-lg-6">
            <ul>
                <li *ngFor='let book of this.BookGroup.Books.slice(0, 20)'><a [routerLink]="['/' + book.Url, 1]">{{book.Title}}</a></li>
            </ul>
        </div>
        <div class="col-lg-6">
            <ul>
                <li *ngFor='let book of this.BookGroup.Books.slice(20, 50)'><a [routerLink]="['/' + book.Url, 1]">{{book.Title}}</a></li>
            </ul>
        </div>
    </div>
</div>
