<div class="content">
  <h2>{{Bible.Version.value.Title}}</h2>
  <div class="row">
    <div class="col-6" *ngFor='let bookGroup of Bible.Version.value.BookGroups.slice(0,2); let i = index'>
      <h3>{{bookGroup.Title }}</h3>
      <div class="row">
        <div class="col-lg-6">
            <ul>
                <li *ngFor='let book of bookGroup.Books.slice(0, 20)'><a [routerLink]="['/' + book.Url, 1]">{{book.Title}}</a></li>
            </ul>
        </div>
        <div class="col-lg-6">
          <ul>
              <li *ngFor='let book of bookGroup.Books.slice(20, 50)'><a [routerLink]="['/' + book.Url, 1]">{{book.Title}}</a></li>
          </ul>
          <div *ngIf="i==1 && Bible.Version.value.BookGroups.length>2">
            <h3 style="margin-top:2em">{{Bible.Version.value.BookGroups[2].Title}}</h3>
            <ul>
              <li *ngFor='let book2 of Bible.Version.value.BookGroups[2].Books'><a [routerLink]="['/' + book2.Url, 1]">{{book2.Title}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
