<div class="content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/' + this.Bible.Version.value.Url]">{{this.Bible.Version.value.Title}}</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/' + this.BookGroup?.Url]">{{this.BookGroup?.Title}}</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/' + this.Book?.Url]">{{this.Book?.Title}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{Chapter?.Number}}</li>
    </ol>
  </nav>
  <div class="book">
    <div class="title-bar">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-dark" (click)="previousChapter()">{{ 'PREVIOUS' | translate }}</button>
        <div class="btn-group btn-group" role="group">
          <button type="button" class="btn btn-outline-dark dropdown-toggle" [routerLink]="['/',this.Bible.Version.value.Url]">
            {{Book?.Title}}
          </button>
        </div>
        <div class="btn-group btn-group" role="group">
          <button type="button" class="btn btn-outline-dark dropdown-toggle" (click)="toggleChapters()">
            {{Chapter?.Title}}
          </button>
        </div>
        <button type="button" class="btn btn-outline-dark" (click)="nextChapter()">{{ 'NEXT' | translate }}</button>
      </div>
    </div>

    <ul *ngIf="ShowChapters" class="chapters sans list-group list-group-horizontal" (click)="toggleChapters()">
      <li *ngFor="let chapter of Book?.Chapters"><a class="list-group-item" [routerLink]="['/' + chapter.Url]">{{chapter.Title}}</a></li>
    </ul>

    <h1>{{this.Chapter?.ToString()}}</h1>

    <div class="justify">
      <span *ngFor="let verse of Chapter?.Verses">
        <span id="{{verse.Number}}" [ngClass]="{'selectedverse':verse.IsSelected}" [innerHTML]="verse.Text" (click)="verseClick(verse)"></span>
        <br *ngIf="verse.IsEndOfParagraph" />
        <br *ngIf="verse.IsEndOfParagraph" />
      </span>
    </div>

    <div class="title-bar" *ngIf="this.Chapter">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-dark" (click)="previousChapter()">{{ 'PREVIOUS' | translate }}</button>
        <div class="btn-group btn-group" role="group">
          <button id="booksDrop" type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" data-bs-custom-class="books" aria-expanded="false">
            {{Book?.Title}}
          </button>
          <div class="dropdown-menu books-selector wcontainer shadow-lg p-3 mb-5 bg-body rounded" aria-labelledby="booksDrop">
            <div class="row">
              <div class="col-lg-6" *ngFor='let bookGroup of Bible.Version.value.BookGroups'>
                  <h3><a [routerLink]="['/' + bookGroup.Url]">{{ bookGroup.Title }}</a></h3>
                  <ul>
                      <li *ngFor='let book of bookGroup.Books'><a [routerLink]="['/' + book.Url, 1]">{{book.Title}}</a></li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-group btn-group" role="group">
          <button id="chaptersDrop" type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{Chapter?.Title}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="chaptersDrop">
            <li *ngFor="let chapter of Book?.Chapters"><a class="dropdown-item" [routerLink]="['/' + chapter.Url]">{{chapter.Title}}</a></li>
          </ul>
        </div>
        <button type="button" class="btn btn-outline-dark" (click)="nextChapter()">{{ 'NEXT' | translate }}</button>
      </div>
    </div>

    <div id='copied' class="toast position-fixed align-items-center text-white bg-dark border-0 bottom-0 start-50 translate-middle-x m-3" style="z-index: 11" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          {{ 'COPIED' | translate }}
        </div>
      </div>
    </div>

    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11" *ngIf="this.VerseNumber>0">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="copy()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
          </svg> {{ 'COPY' | translate }}
        </button>
        <button type="button" class="btn btn-primary" (click)="share()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
            <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
            <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
          </svg> {{ 'SHARE' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
