<div class="progress" style="height: 1px;background-color: #111;">
  <div class="progress-bar" role="progressbar" *ngIf="this.Bible.Version.value.Loaded<this.Bible.Version.value.Total" style="{{'width: '+(this.Bible.Version.value.Loaded*100)/(this.Bible.Version.value.Total)+'%;'}}"></div>
</div>
<nav class="navbar navbar-expand sticky-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand d-none d-sm-block" [routerLink]="['/']">
      <img src="/assets/icons/icon-24.png" alt="" height="24" class="d-inline-block align-text-top">
      {{ 'TITLE' | translate }}
    </a>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" id="versionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" title='{{ "LANG" | translate }}'>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-translate" viewBox="0 0 16 16">
            <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"/>
            <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"/>
          </svg>
        </a>
        <ul class="dropdown-menu bg-dark navbar-dark" aria-labelledby="versionsDropdown">
          <li><a class="dropdown-item" href="/kjames" (click)="switchToVersion($event, 'kjames')">King James</a></li>
          <li><a class="dropdown-item" href="/arabic" (click)="switchToVersion($event, 'arabic')">الكتاب المقدس</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" id="fontsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" title='{{ "FONT" | translate }}'>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-type" viewBox="0 0 16 16">
            <path d="m2.244 13.081.943-2.803H6.66l.944 2.803H8.86L5.54 3.75H4.322L1 13.081h1.244zm2.7-7.923L6.34 9.314H3.51l1.4-4.156h.034zm9.146 7.027h.035v.896h1.128V8.125c0-1.51-1.114-2.345-2.646-2.345-1.736 0-2.59.916-2.666 2.174h1.108c.068-.718.595-1.19 1.517-1.19.971 0 1.518.52 1.518 1.464v.731H12.19c-1.647.007-2.522.8-2.522 2.058 0 1.319.957 2.18 2.345 2.18 1.06 0 1.716-.43 2.078-1.011zm-1.763.035c-.752 0-1.456-.397-1.456-1.244 0-.65.424-1.115 1.408-1.115h1.805v.834c0 .896-.752 1.525-1.757 1.525z"/>
          </svg>
        </a>
        <ul class="dropdown-menu bg-dark navbar-dark" aria-labelledby="fontsDropdown">
          <li>
            <ul class="list-group list-group-horizontal bg-dark navbar-dark">
              <li><a class="nav-link center bigger" (click)="increaseFont()">A</a></li>
              <li><a class="nav-link center smaller" (click)="decreaseFont()">A</a></li>
            </ul>
          </li>
          <li *ngIf="!this.Bible.Settings.RTL">
            <ul class="list-group list-group-horizontal bg-dark navbar-dark">
              <li><a class="nav-link center serif" (click)="serif()">Serif</a></li>
              <li><a class="nav-link center sans" (click)="sans()">Sans</a></li>
            </ul>
          </li>
          <li *ngIf="this.Bible.Settings.RTL">
            <ul class="list-group list-group-horizontal bg-dark navbar-dark">
              <li><a class="nav-link center" (click)="tashkeel()">بِالتَّشْكِيلِ</a></li>
              <li><a class="nav-link center" (click)="removeTashkeel()">بدون</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="switchDarkMode()" title="{{ 'DARK' | translate }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sun" viewBox="0 0 16 16">
            <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
          </svg>
        </a>
      </li>
      <li class="nav-item">
        <input id="q" name="q" class="form-control col-2 me-2 search" placeholder="{{ 'SEARCH' | translate }}" aria-label="Search" value='' (keyup.enter)="search($event)" />
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
