<div class="content">

    <h1>{{ 'FOUND' | translate}} {{this.Results.TotalVerses}} {{ 'VERSESFOR' | translate}} '<span class="selectedverse">{{this.Query}}</span>'</h1>

    <div *ngFor="let group of this.Results.Groups">
        <h3>{{group.Book.Title + ' (' + group.Verses.length + ')'}}</h3>
        <ul class="results">
            <li *ngFor="let verse of group.Verses">
                <a [routerLink]="['/' + verse.Url.split('#')[0]]" fragment="{{verse.Number}}">{{verse.Title}}</a><br/>
                <span [innerHTML]="verse.getTextHighlighted(this.Query)"></span>
            </li>
        </ul>
    </div>

    <div class="alert alert-warning hide" role="alert">
        You can also search in
        <a href="/search?q=god&amp;where=/kjames/old/genesis">Genesis</a>
        or
        <a href="/search?q=god&amp;where=/kjames/old">Old Testament</a>
        or
        <a href="/search?q=god&amp;where=/kjames">King James Bible</a>
    </div>
</div>
